motor
python-jose[cryptography]
passlib[bcrypt]
bcrypt
loguru
httpx
python-multipart
fastapi
uvicorn
pandas

chromadb
sentence-transformers
litellm==1.82.6
python-dotenv
pydantic
numpy

openai-whisper
SpeechRecognition
pyttsx3
sounddevice
soundfile
streamlit
